<p>Based on data from: <cite>Umit, Resul, 2022, <q>UK House of Commons Election Results at Constituency Level</q>, <a href="https://doi.org/10.7910/DVN/S83HOA">https://doi.org/10.7910/DVN/S83HOA</a>, Harvard Dataverse, V4, UNF:6:MsqT+6AwIpZsqDgcTVcV/A== [fileUNF]</cite></p>
<p xmlns:dct="https://purl.org/dc/terms/" xmlns:vcard="https://www.w3.org/2001/vcard-rdf/3.0#">
  <a rel="license"
     href="https://creativecommons.org/publicdomain/zero/1.0/">
    <img src="https://i.creativecommons.org/p/zero/1.0/88x31.png" alt="CC0" />
  </a>
</p>